@charset "utf-8";
/* CSS Document */
.testContainer{
	display: block;
	position: relative;
	height: 1080px;
	width: 100%;
}
.testContainer > div{	
	position: absolute;
	left: 0px;
	width: 100%;
}
#car{
	width: 35%;
	height: 75%;
	z-index: 99;
}
#car > *{
	width: auto;
	
}

#ble{
	background-color: #0D15A4;
	width: 200px;
	height: 200px;
}
#grn{
	background-color: #3DB912;
	width: 200px;
	height: 200px;
}